<!-- continue anonymously block -->
<div class="tax-box-selected">
  <form class="form__padding">
      <div class="row">
          <div class="form-group form-group col-sm-6">
              <label>Type of Contracting Party</label>
              <select class="form-control">
                  <option value="Natural Person">Natural Person</option>
                  <option value="Legal Entity">Legal Entity</option>
              </select>
          </div>
          <div class="form-group form-group col-sm-6">
              <label>Type of Legal Entity</label>
              <select class="form-control">
                  <option value="Select" selected>Select</option>
                  <option value="Company (public; private or state owned)">Company (public; private or state owned)</option>
                  <option value="Close Corporation">Close Corporation</option>
                  <option value="Trust (Individual)">Trust (Individual)</option>
                  <option value="Trust (Company)">Trust (Company)</option>
                  <option value="Trust (Non tax paying - NTPI)">Trust (Non tax paying - NTPI)</option>
                  <option value="Government Entity or Department">Government Entity or Department</option>
                  <option value="Tax Exempt Institution">Tax Exempt Institution</option>
                  <option value="Stokvel">Stokvel</option>
              </select>
          </div>
          <div class="form-group">
              <button class="btn btn-primary btn-primary-small anuity-btn">Continue</button>
          </div>
      </div>
  </form>
</div>
<!-- continue anonymously block -->