<section class="form-elements content row col-md-8 col-sm-8 col-sm-offset-2 quote quote--select-product" style="display: block;">
    <!-- <div class="row"> -->
        <div class="boxstyle">
            <div class="row">
    
                <div class="col-md-4 col-sm-4">
                    <div class="quote--product">
                        <div class="tick checked selected" ></div>
                        <h2>PROTECTION</h2>
                    </div>
                </div>
    
                <div class="col-md-4 col-sm-4">
                    <div class="quote--product">
                        <div class="tick"></div>
                        <h2>INVESTMENTS</h2>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    <div class="quote--product" routerLink="/product">
                        <div class="tick"></div>
                        <h2>SAVINGS</h2>
                    </div>
                </div>
    
                <!-- <div class="col-md-4 col-sm-4">
                    <div class="quote--product">
                        <div class="tick"></div>
                        <h2><a id="loginButton" class="btn btn-primary pull-right" routerLink="/product">SAVINGS</a></h2>
                    </div>
                </div> -->
    
            </div>
    
            <div class="row">
    
                <div class="col-md-4 col-sm-4">
                    <div class="quote--product">
                        <div class="tick"></div>
                        <h2>HEALTH</h2>
                    </div>
                </div>
    
                <div class="col-md-4 col-sm-4">
                    <div class="quote--product">
                        <div class="tick"></div>
                        <h2>LENDING</h2>
                    </div>
                </div>
    
                <div class="col-md-4 col-sm-4">
                    <div class="quote--product">
                        <div class="tick"></div>
                        <h2>INCOME</h2>
                    </div>
                </div>
    
            </div>
    
          </div>
    
    
    <!-- </div> -->
    </section>