<ngb-accordion class="ngbasic-accordion">
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <h4 class="acc_header ngbasic-accordion-title">
        <span>Tax Free Savings Plan</span>
        <span class="basic-accordion-title-arrow"></span>
      </h4>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="card content-sapcing secondary-div">



        <!-- Inside accordion -->

        <p class="regular-heading-font">The maximum contributions you can make into Tax free Plans is
          <label class="key-font-weight">R33000.00</label> per tax year and
          <label class="key-font-weight">R500000.00 </label>in your lifetime.</p>

        <label class="key-font-weight">You have the following Old Mutual Tax Free Plan(s):</label>
        <table class="table table-bordered taxfree-tableborder">
          <thead class="fund-tableheadersection">
            <tr>
              <th class="col-xs-4 fund-tableheadertxt">Product Name</th>
              <th class="col-xs-4 fund-tableheadertxt">contract number</th>
              <th class="col-xs-4 fund-tableheadertxt">Contributions for this tax year</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tableborderstyle">
              <td>Tax Free Savings</td>
              <td>0023456DXTY</td>
              <td>R 2000.00</td>
            </tr>
            <tr class="tableborderstyle">
              <td>Tax Free Savings</td>
              <td>7023456DXTY</td>
              <td>R 2000.00</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <div class="col-xs-3 taxfree-totalcontributionfirstblock">
            <span class="taxfree-amount">R 4000.00</span>
            <span class="taxfree-totalcontribution-display">Total Contributions for this tax year</span>
          </div>

          <div class="col-xs-3 taxfree-totalcontributionsecondblock">
            <span class="taxfree-amount">R 4000.00</span>
            <span class="taxfree-totalcontribution-display">Lifetime contributions made</span>
          </div>
        </div>


        <div class="tax-userguideline">
          <span>The contributions reflected above only include Old Mutual Tax Free Plans. Please ensure that you also consider
            other Tax Free Plans you may have with any other financial service providers.</span>
        </div>

      </div>



      <div class="card content-spacing">

        <div>
          <p>Choose your payment type</p>
        </div>

        <div class="payment-selection-padding">
          <div class="form-group checkbox">
            <input class="form-control" type="checkbox" id="checkbox_reg_sav">
            <label class="check-label" for="checkbox_reg_sav">Regular Contribution</label>
          </div>
          <div class="form-group checkbox">
            <input class="form-control" type="checkbox" id="checkbox_lump_sav">
            <label class="check-label" for="checkbox_lump_sav">Lump Sum Contribution</label>
          </div>
          <div class="form-group checkbox">
            <input class="form-control" type="checkbox" id="checkbox_trans_sav">
            <label class="check-label" for="checkbox_trans_sav">Transfer from another provider</label>
          </div>
        </div>

      </div>





    </ng-template>
  </ngb-panel>




</ngb-accordion>




<!-- <div class="row"> 
  <div class="basic-accordion col-sm-12" id="accordion">

    <div class="basic-accordion-container">
      <h3 data-toggle="collapse" data-parent="#accordion" data-target="#payment_overview" class="basic-accordion-title">
        <span>Tax Free Savings Plan</span>
        <span class="basic-accordion-title-arrow"></span>
      </h3>
      <div id="payment_overview" class="collapse basic-accordion-content">
        <div class="content-sapcing">

          <h4>The maximum contributions you can make into Tax free Plans is R33000.00 per tax year and R500000.00 in your lifetime.</h4>

          <label>You have the following Old Mutual Tax Free Plan(s):</label>
          <table class="table table-bordered taxfree-tableborder">
            <thead class="fund-tableheadersection">
              <tr>
                <th class="col-xs-4 fund-tableheadertxt">Product Name</th>
                <th class="col-xs-4 fund-tableheadertxt">contract number</th>
                <th class="col-xs-4 fund-tableheadertxt">Contributions for this tax year</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tableborderstyle">
                <td>Tax Free Savings</td>
                <td>0023456DXTY</td>
                <td>R 2000.00</td>
              </tr>
              <tr>
                <td>Tax Free Savings</td>
                <td>7023456DXTY</td>
                <td>R 2000.00</td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-3 taxfree-totalcontributionfirstblock">
              <span class="taxfree-amount">R 4000.00</span>
              <span class="taxfree-totalcontribution-display">Total Contributions for this tax year</span>
            </div>

            <div class="col-xs-3 taxfree-totalcontributionsecondblock">
              <span class="taxfree-amount">R 4000.00</span>
              <span class="taxfree-totalcontribution-display">Lifetime contributions made</span>
            </div>
          </div>
          <div class="tax-userguideline">
            <span>The contributions reflected above only include Old Mutual Tax Free Plans. Please ensure that you also consider
              other Tax Free Plans you may have with any other financial service providers.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->